html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
.body{
    background: linear-gradient(to right, #B0C8F9, #E594FE);
        font-family: "Russo One", sans-serif;
        font-weight: 400;
        font-style: normal;
        width: 100%;
}
.header{
    display: flex;
}
.logo{
    margin-left: 9px;
    margin-top: 18px;
}
.name{
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    font-size: 110px;
    margin-left: 52px;
    margin-top: 80px;
}
.square{
    /* Rectangle 41 */

position: absolute;
width: 917px;
height: 70px;
left: 0px;
top: 274px;

background: #F3F3F3;
border-radius: 30px;
}
.вход{
    /* вход */

position: absolute;
width: 126px;
height: 58px;
left: 395px;
top: 280px;

font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
/* identical to box height */
letter-spacing: 0.05em;

color: #7CEA5D;
}
.box{
    /* Rectangle 32 */

position: absolute;
width: 947px;
height: 1351px;
left: 352px;
top: 662px;

background: linear-gradient(187.05deg, #FFFFFF 53.71%, #FFFFFF 94.5%);
border-radius: 100px;
}
.mini{
    /* Group 166 */

position: absolute;
width: 159px;
height: 149.03px;
left: 458px;
top: 695px;
}
.namemini{
    /* MemeLytics */

position: absolute;
width: 485px;
height: 110px;
left: 629px;
top: 734px;

font-family: 'Jersey 15';
font-style: normal;
font-weight: 400;
font-size: 110px;
line-height: 110px;
/* identical to box height */

color: #7CEA5D;
}
.vxod{
/* Вход в учётную запись */

position: absolute;
width: 769px;
height: 77px;
left: 458px;
top: 976px;

font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #7CEA5D;
}
.eye{
    /* Rectangle 36 */

position: absolute;
width: 841px;
height: 126px;
left: 405px;
top: 1115px;

background: rgba(217, 217, 217, 0.54);
border-radius: 20px;
}
.texst{
    /* имя пользователя/эл.почта */

position: absolute;
width: 314px;
height: 24px;
left: 427px;
top: 1139px;

font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */
letter-spacing: 0.05em;

color: #000000;
white-space: nowrap;
}
.input-f{
    position: absolute;
    width: 600px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none; 
    margin-left: 433px;
    margin-top: 930px;
}

.glass{
    /* Rectangle 37 */

position: absolute;
width: 841px;
height: 126px;
left: 405px;
top: 1303px;

background: rgba(217, 217, 217, 0.54);
border-radius: 20px;
}
.xxxx{
    /* пароль */

position: absolute;
width: 80px;
height: 24px;
left: 435px;
top: 1327px;

font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */
letter-spacing: 0.05em;

color: #000000;
}
.input-field{
    position: absolute;
    left: 435px;
top: 1367px;
width: 600px;
height: 40px;
background: #FFFFFF;
border-radius: 10px;
border: none;
}
.square2{
    /* Rectangle 38 */

position: absolute;
width: 404px;
height: 126px;
left: 629px;
top: 1498px;

background: rgba(229, 148, 254, 0.74);
border-radius: 20px;
cursor: pointer;
border: none;
}
.tex2{
    /* вход */
    pointer-events: none;
position: absolute;
width: 126px;
height: 58px;
left: 768px;
top: 1535px;

font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
/* identical to box height */
letter-spacing: 0.05em;

color: #000000;
}
.square3{
    /* Rectangle 40 */

position: absolute;
width: 245px;
height: 62px;
left: 709px;
top: 1647px;
border: none;
background: rgba(229, 148, 254, 0.74);
border-radius: 20px;
cursor: pointer;
}
.macan{
/* зарегистрироваться */
pointer-events: none;
position: absolute;
width: 228px;
height: 24px;
left: 717px;
top: 1666px;
font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */
letter-spacing: 0.05em;
color: #000000;
white-space: nowrap;
}
.lie{
    /* Line 1 */

position: absolute;
width: 282px;
height: 0px;
left: 395px;
top: 1852px;

border: 1px solid #D9D9D9;
}
.trrr{
    /* другие способы входа */

position: absolute;
width: 254px;
height: 24px;
left: 709px;
top: 1840px;

font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */
letter-spacing: 0.05em;

color: #D9D9D9;
white-space: nowrap;
}
.lie2{
    /* Line 2 */

position: absolute;
width: 282px;
height: 0px;
left: 973px;
top: 1852px;

border: 1px solid #D9D9D9;
}
.Vector{
    /* devicon:google */

position: absolute;
width: 49px;
height: 49px;
left: 580px;
top: 1910px;


}
.Vector1{
    /* ic:baseline-apple */

position: absolute;
width: 71px;
height: 71px;
left: 733px;
top: 1894px;
}
.Vector2{
    /* ic:baseline-facebook */

position: absolute;
width: 65px;
height: 65px;
left: 894px;
top: 1900px;
}
.Vector3{
    /* devicon:twitter */

position: absolute;
width: 38px;
height: 38px;
left: 1076px;
top: 1911px;
}
.Vector4{
    /* system-uicons:cross-circle */

position: absolute;
width: 50px;
height: 50px;
left: 1159px;
top: 1159px;
border-radius: 50%;
cursor: pointer;
}
.cross {
    position: relative;
    width: 22.86px;
    height: 22.86px;
    margin-left: 6px;
}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22.86px;
    height: 1px; /* Толщина линии */
    background-color: black; /* Цвет крестика */
}

.cross::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cross::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.Vector5{
    /* system-uicons:cross-circle */

position: absolute;
width: 50px;
height: 50px;
left: 1159px;
top: 1355px;
border-radius: 50%;
cursor: pointer;
}
::-webkit-scrollbar {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
  }


  ::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #f2bf93;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(255, 255, 255, .25) 50%,
                      rgba(255, 255, 255, .25) 75%,
                      transparent 75%,
                      transparent);
  }
