<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemeLytics</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/reg.css">
</head>
<body class="body">
    <header class="header">
        <img class="logo" src="/static/Group 2.svg" >
        <h1 class="name" >MemeLytics</h1>
                
    </header>
    <main>
        <div class="square"></div>
        <H2 class="viperr">Регистрация</H2>
        <div class="square1"></div>
        <img class="Vector" src="/static/Group 2.svg">
        <H2 class="viperr1">MemeLytics</H2>
        <H2 class="viperr2">Регистрация</H2>
        <div class="square3"></div>
        <div class="square4"></div>
        <div class="square5"></div>
        <div class="square6"></div>
        <a href="">
        <button class="square7"></button>
    </a>
    <H2 class="viperr3" >электронная почта</H2>
            <input id="textInput" type="mail" placeholder="" class="input-f">
        <H2 class="viperr4">код подтверждения</H2>
            <input type="text" placeholder="" class="num">
        <H2 class="viperr5">пароль</H2>
             <input id="develop" type="password" placeholder="" class="input-field">
        <H2 class="viperr6">пожалуйста, введите пароль ещё раз</H2>
             <input type="password" placeholder="" class="nump">
             
    <H2 class="viperr7">регистрация</H2>
        <H2 class="viperr8">другие способы входа</H2>
        <div class="line"></div>
        <div class="line1"></div>
        <div class="line2"></div>
        <a href="">
        <H2 class="viperr9">отправить</H2>
    </a>
    <button class="Vector1" onclick="document.getElementById('textInput').value = '';"> <div class="cross"></div></button>
<button onclick="document.getElementById('develop').value = '';" class="Vector2"> <div class="cross"></div> </button>

        <img class="Vector3" src="/static/devicon_google.svg">
        <img class="Vector4" src="/static/ic_baseline-apple.svg">
        <img class="Vector5" src="/static/ic_baseline-facebook.svg">
        <img class="Vector6" src="/static/devicon_twitter.svg">
    </main>
    <footer>

    </footer>
</body>
</html>