<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemeLytics</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/ввход.css">
</head>
<body class="body">
    <header class="header">
        <img class="logo" src="/static/Group 168.svg" alt="Логотип">
        <h1 class="name" >MemeLytics</h1>    
    </header>
    <main>
        <div class="square"></div>
        <h2 class="вход">вход</h2>
<div class="mmm">
        <div class="box"></div>
        <img class="mini" src="/static/Group 168.svg" alt="logo">
        <p class="namemini">MemeLytics</p>
        <p class="vxod">вход в учётную запись</p>
        <div class="eye"></div>
        <p class="texst">имя пользователя/эл.почта</p>

        <input id="textInput" type="text" placeholder="" class="input-f">


        <div class="glass"></div>
        <p class="xxxx">пароль</p>

        <input id="develop" type="password" placeholder="" class="input-field">
    <a href="">
    <button class="square2"></button>
    </a>
             <p class="tex2">вход</p>
    <a href="/feg">
    <button class="square3"></button>
    </a>
        <p class="macan">зарегистрироваться</p>
        <div class="lie"></div>
        <p class="trrr">другие способы входа</p>
        <div class="lie2"></div>
        <img class="Vector" src="/static/devicon_google.svg" alt="google"> 
        <img class="Vector1" src="/static/ic_baseline-apple.svg" alt="apple">
        <img class="Vector2" src="/static/ic_baseline-facebook.svg" alt="facebook">
        <img class="Vector3" src="/static/devicon_twitter.svg" alt="twitter">
        <button class="Vector4" onclick="document.getElementById('textInput').value = '';">
            <div class="cross"></div>
        </button>
    <button class="Vector5" onclick="document.getElementById('develop').value = '';">
        <div class="cross"></div>
    </button>
</div>
    </main>
       
    
</body>
</html>